body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-color:#E3E4DB;
	color: #000807;
	font-family: 'Roboto', sans-serif;
}
header{
	text-align: center;
	background-color: darkblue;
	color: white;
	height: 60px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
}
header h1{
	margin: 0px;
	padding-top: 12px;
}

.navigation{
	display: flex;
	position: fixed;
	width: 100%;
	height: 40px;
	top: 60px;
	z-index: 1000;
}
nav a{
	text-decoration: none;
	color: white;
	text-align: center;
	background: black;
	padding-top: 10px;
	display: block;
	flex: 1;
}

nav a:hover{
	color:black;
	background:white;
	font-size: 25px;
}

.image img{
	width: 100%;
	height: 647px;
	opacity:0.5;
	z-index: -1000;
}
.quotes{
	/*width: 600px;
	height: 100px;*/
	text-align: center;
	color:#07020D;
	margin-top:-350px;
	/*margin:310px auto auto 350px;*/
}
.image blockquote{
	margin:0px;
}
.WelcomeTag{
	font-size: 70px;
}
.SmallQuote{
	font-size: 20px;
}
.flex{
	width: 100%;
	display: flex;
	margin-bottom: 4px;
	margin-top: 246px;
}
.departments
{
	flex:1;
	background:#CDCDCD;
	margin: 2px;
	text-align: center;
}
.departments ul{
	list-style-type: none;
	margin-left: -20px;
	line-height: 30px;
}
.departments a{
	text-decoration: none;
}

.books{
	flex:3;
	background:#CDCDCD;
	margin:2px;
}
.books  h3{
	color: #2E294E;
}
.rules{
	flex:2;
	background:#CDCDCD;
	margin:2px;
}


.footersection{
	width: 100%;
}
footer{
	background-color:gray;
	color:white;
	width: 100%;
	display: flex;
}

.social{
	flex:3;
}

.address{
	flex:1;
}

.social{
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
	padding-top: 50px;
}
.social a{
	flex: 1;
	padding-left:0px;
}
.social a:hover{
	color:black;
}

.address ul{
	list-style-type: none;
	margin-top: 0px;
	margin-left: 0px;
	padding:0px;
}

.address h2{
	margin-left: 0pxpx;
	margin-bottom: 4px;
}

.other{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.figure{
	flex: 1;
	margin-right: 3px;
}
figure{
	margin: 0px;
}
figure img{
	width: 340px;
	height: 300px;
}



@media screen and (max-width: 600px) {
	nav{
		flex-direction: column;
		margin-top: 0px;
	}
	header{
		margin: 0px;
	}
	img{
		width: 100%;
	}
	.WelcomeTag{
		font-size: 25px;
		width: 100%;
	}
	.SmallQuote{
		font-size: 10px;
		width: 100%;
	}
	.quotes{
		margin-top: -250px;
	}

	.flex{
		flex-direction: column;
		flex-basis: 100%;
		margin-top: 210px;
	}
	.social{
		padding-top: 10px;
	}
	.social a{
		display: block;
		padding-left: 40px;
	}

}

